<!-- display the question you ask your coach as well as his answer. -->
<h1>Your coaching answered you !</h1>

<h2><%= @answer %></h2>
<p><%= @coach %></p>

<p>
  <%= link_to "Ask a new question", ask_path %>
</p>
